.grid-container {
  display: grid;
  grid-template-areas:
    "head"
    "choice choice";
}

.headline {
  grid-area: "head";
  font-size: 1.6rem;
  font-weight: 600;
}

img {
  grid-area: "choice";
  max-width: 100%;
  height: auto;
  padding: 2%;
}

.center {
  text-align: center;
  margin: 0% 1% 0% 1%;
  padding: 1% 1% 1% 1%;
}
