body.yuck {
  background-image: url(poopbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body.spew {
  background-image: url(rainbowbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 1.8rem;
  font-weight: 600;
}

#boxa {
  text-align: center;
  max-width: 100%;
}

#boxb {
  padding-right: 5%;
}

#boxc {
  padding-left: 5%;
}

img {
  margin: 5% auto;
  cursor: pointer;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
  padding: 3% 0% 4% 0%;
}
